* {
    padding: 0;
    margin: 0;
    
}

/* The is the Header section */

header {
    text-align: center;
    background-image: linear-gradient(50deg, aqua, pink);
    color: rgb(167, 136, 80);
    padding-top: 20px;
}



 /* Nav Bar  */


 .nav-bar {
   background-image: linear-gradient(50deg, aqua, pink);
    
 }

 ul {
     list-style-type: none;
     padding: 1rem 2rem;
     position: relative;
    }

 li {
     display: inline-block;
     padding-left: 2rem;
     font-weight: 900;
 }

 li>a {
     color:orange;
     text-decoration: none;
     font-size: 20px;
 }

 li>a:hover {
     color: palevioletred;
 }


 #menu {
     position: relative;
     left:75%;
 }